@import "../../styles/variables";
@import "../../styles/mediaQuery";

.friendsList {
  border: 1px solid $secondaryBlue;
  padding: 1.5rem;

  h2 {
    text-align: center;
  }

  .openAddFriendsModalButton {
    display: block;
    margin: 0 auto 1.5rem;
    padding: 1rem 2.5rem;
  }

  .individualFriend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 2px solid $secondaryBlue;

    span {
      line-height: 2.5rem;
    }

    .buttonsContainer {
      @include mq640 {
        display: flex;
      }

      @include mq450 {
        flex-direction: column;
        margin-left: 2rem;
      }
    }

    button {
      padding: 1rem;
      margin: 0 0 0 2rem;

      @include mq450 {
        margin: 0.75rem 0;
      }
    }
  }
}
