@import "../../styles/variables";
@import "../../styles/mediaQuery";

.friendsList {
  border: 1px solid $secondaryBlue;
  padding: 1.5rem;

  h2 {
    text-align: center;
  }

  .openAddFriendsModalButton {
    display: block;
    margin: 0 auto 1.5rem;
    padding: 1rem 2.5rem;
  }

  .individualFriend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;

    span,
    button {
      width: calc(100% / 3 - 10%);
      padding: 1rem 0;
    }

    button {
      padding: 1rem;
    }
  }
}
