@import "../../styles/variables";

.lightsList {
  width: 50%;
  border: 1px solid $secondaryBlue;
  padding: 1.5rem;

  h2 {
    text-align: center;
  }

  .individualLight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    button {
      padding: 1rem;
      margin: 0 0.5rem;
    }

    .fromWhom {
      width: 20%;
      margin: 0 0.5rem;
    }

    .messageContent {
      width: 45%;
      margin: 0 2rem;
    }
  }
}
