@import "../../styles/variables";
@import "../../styles/mediaQuery";

.signUpPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $secondaryBlue;

  h1,
  p {
    color: $secondaryBlue;
  }

  h1 {
    margin: 2rem 0 0;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 4rem;

    input {
      margin-bottom: 1.5rem;
    }

    button {
      padding: 1.5rem 0;
    }

    @include mq450 {
      width: 70%;
    }

    @include mq375 {
      width: 80%;
    }
  }

  a {
    color: $secondaryBlue;
    margin-bottom: 4rem;
  }
}
