@import "variables";
@import "mediaQuery";

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: 100%;
  background-color: $primaryBlue;
  color: #ffffff;

  @include mq640 {
    font-size: 1.8rem;
  }

  @include mq450 {
    font-size: 1.6rem;
  }
}

img {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 45%;
  margin: 0 auto;

  @include mq1300 {
    width: 60%;
  }

  @include mq1000 {
    width: 70%;
  }

  @include mq768 {
    width: 80%;
  }
}

input {
  border: 1px solid $primaryBlue;
  border-radius: $borderRadius;
  padding: 1.5rem 2rem;
}

button {
  border: none;
  border-radius: $borderRadius;
  background: $secondaryBlue;
  color: #ffffff;
  cursor: pointer;
}

.light {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.redLight {
  background: red;
}

.blueLight {
  background: blue;
}

.greenLight {
  background: green;
}

.orangeLight {
  background: orange;
}

.purpleLight {
  background: purple;
}

.brownLight {
  background: brown;
}

.modal {
  position: absolute;
  width: 60%;
  height: 60%;
  top: 20%;
  left: 20%;
  background: #ffffff;
  border: 1px solid $secondaryBlue;
  border-radius: $borderRadius;
  padding: 1.5rem;

  .closeModalButton {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    padding: 1.5rem;
  }

  @include mq1000 {
    width: 80%;
    left: 10%;
  }
}
