@import "../../styles/variables";
@import "../../styles/mediaQuery";

nav {
  position: absolute;
  top: 10%;
  width: 100%;
  font-size: 2rem;

  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 auto;
    padding: 0;

    li {
      background: $secondaryBlue;
      border-radius: $borderRadius;

      a {
        display: inline-block;
        padding: 1.25rem 2.5rem;
        color: #ffffff;
        text-decoration: none;
      }

      button {
        padding: 1.25rem 2.5rem;
      }

      @include mq640 {
        width: 100%;
        margin-bottom: 2rem;

        button,
        a {
          width: 100%;
          display: flex;
          justify-content: flex-start;
        }
      }
    }

    @include mq640 {
      flex-direction: column;
      align-items: flex-end;
      background-color: $primaryBlue;
    }
  }

  @include mq640 {
    font-size: 1.8rem;
    top: 15%;
  }

  @include mq450 {
    font-size: 1.6rem;
  }
}

.navOpener {
  position: absolute;
  top: 5%;
  right: 10%;
  padding: 1.5rem;
  font-size: 1.8rem;

  @include mq450 {
    font-size: 1.6rem;
  }
}
