@import "../../styles/variables";
@import "../../styles/mediaQuery";

.formToReplyLight {
  display: flex;
  position: absolute;
  top: 7.5%;
  left: 7.5%;
  width: 85%;
  height: 85%;

  label {
    cursor: pointer;
  }

  input {
    display: none;
  }

  .redLight {
    position: absolute;
    top: 15%;
    left: calc(50% - 0.75rem);
  }

  .blueLight {
    position: absolute;
    bottom: 15%;
    left: calc(50% - 0.75rem);
  }

  .greenLight {
    position: absolute;
    top: 32.5%;
    left: calc(20% - 0.75rem);
  }

  .orangeLight {
    position: absolute;
    top: 32.5%;
    left: calc(80% - 0.75rem);
  }

  .purpleLight {
    position: absolute;
    top: 67.5%;
    left: calc(20% - 0.75rem);
  }

  .brownLight {
    position: absolute;
    top: 67.5%;
    left: calc(80% - 0.75rem);
  }
}
