@import "../../styles/variables";

.toggleModal,
.signOut,
.showLights {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 3rem;
}

.toggleModal {
  right: 10rem;
}

.signOut {
  right: 3rem;
}

.showLights {
  right: 17rem;
}

.mainPage {
  border: 1px solid $primaryRed;
  border-radius: $borderRadius;
  font-size: 2rem;
  padding: 5rem 0;
  color: $primaryBlue;

  h2 {
    text-align: center;
  }

  ul {
    position: relative;
    padding-left: 0;
    list-style: none;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;

    .friends {
      position: absolute;
      border: 1px solid $primaryRed;
      border-radius: $borderRadius;
      width: 100%;
      background: #ffffff;
      margin-top: 1rem;

      li {
        padding: 2rem;
        color: $primaryRed;
        cursor: pointer;

        &:hover {
          background: $primaryBlue;
          color: #ffffff;
        }
      }
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      justify-content: space-around;
      margin: 5rem 0;
    }

    input {
      display: none;
    }

    label {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      cursor: pointer;
    }

    .red {
      background: red;
    }

    .blue {
      background: blue;
    }

    .green {
      background: green;
    }

    .orange {
      background: orange;
    }
  }
}
