@import "../../styles/mediaQuery";

.viewLightsModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    list-style: none;
    color: black;
    padding: 0;

    li {
      margin-bottom: 2rem;
      display: flex;
      align-items: center;

      button {
        margin-left: 2rem;
        float: right;
        padding: 0.3rem 1rem;

        @include mq375 {
          margin-left: 1rem;
        }
      }
    }
  }

  .replyButton {
    padding: 1.5rem;
  }
}
