.viewLightsModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    list-style: none;
    color: black;
    padding: 0;

    li {
      margin-bottom: 2rem;
    }
  }

  .replyButton {
    padding: 1.5rem;
  }
}
