@import "../../styles/variables";

.friendsListModal {
  position: absolute;
  top: 0;
  border: 1px solid $primaryRed;
  padding: 1.5rem;
  font-size: 1.6rem;
  width: 20%;

  .addFriendModalOpener {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
  }

  div {
    display: flex;
    flex-direction: column;

    span:nth-of-type(even) {
      margin-bottom: 3rem;
    }
  }
}
