@import "../../styles/variables";

.friendsListModal {
  width: 50%;
  border: 1px solid $primaryRed;
  padding: 1.5rem;

  h2 {
    text-align: center;
  }

  .openAddFriendsModalButton {
    display: block;
    margin: 0 auto;
    padding: 1rem;
  }

  .individualFriend {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

    span,
    button {
      width: calc(100% / 3 - 10%);
      padding: 1rem 0;
    }
  }
}
