@import "../../styles/variables";

.LightsListModal {
  width: 50%;
  border: 1px solid $primaryRed;
  padding: 1.5rem;

  h2 {
    text-align: center;
  }

  .individualLight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    button {
      padding: 1rem;
    }
  }
}
